<style>
    .Footer{
        width: 100%;
    }
</style>

<footer class=" Footer ">
    <div class="f-info ">
      
    <div class="social-part">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
   <div class="link-part">
   <a href=""> &copy;2025 Airbnb |</a>
   <a href=""> Privacy |</a>
   <a href="">terms |</a>
   <a href="">Company Details </a>
   </div>
    </div>
</footer>